@import url("https://fonts.googleapis.com/css?family=Oxygen");
@font-face {
  font-family: Ailerons-Typeface;
  src: url(Ailerons-Typeface.otf); }
@font-face {
  font-family: Nexa-Light;
  src: url(Nexa-Light.otf); }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Oxygen; }

body {
  width: 1280px;
  height: 842px;
  background-color: white;
  font-family: Oxygen;
  position: absolute;
  color: #0a1b6a;
  font: 30px;
  /* .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  	padding: 0;
  } */ }
  body .r-bord {
    border-right: 100px solid #fff; }
  body h2 {
    display: flex;
    align-items: center;
    font-family: Arial;
    padding-left: 10px; }
  body .page-wrapper {
    width: 96%;
    height: 1500px;
    padding: 10px 5px 10px 15px;
    font-size: 18px;
    line-height: 1.5; }
  body .padding-n {
    padding: 0; }
  body .margin-n {
    margin: 0; }
  body .m-r-10 {
    margin-right: 10px; }
  body .m-t-20 {
    margin-top: 20px; }
  body .display-inl-b {
    display: inline-block; }
  body .p-r-10 {
    padding-right: 10px; }
  body .p-l-10 {
    padding-left: 10px; }
  body .p-l-5 {
    padding-left: 5px; }
  body .p-v-20 {
    padding: 20px 0; }
  body .p-v-10 {
    padding: 10px 0; }
  body .p-h-10 {
    padding: 0 10px; }
  body .t-a-l {
    text-align: left; }
  body .t-a-r {
    text-align: right; }
  body .padder-20-10 {
    padding: 20px 10px; }
  body .name {
    flex: 0;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center; }
    body .name > .second {
      color: #394fb3; }
  body .position {
    font-size: 28px;
    display: flex;
    align-items: center; }
  body .contact-panel {
    color: #0a1b6a;
    margin: 0;
    padding: 0; }
  body img {
    width: 50%;
    height: auto; }
  body .b-grd-blue {
    background-color: #0a1b6a; }
  body .white {
    color: #fff; }
  body .w-full {
    width: 100%; }
  body .title-case {
    text-transform: capitalize; }
  body .up-case {
    text-transform: uppercase; }
  body .text {
    display: flex;
    flex-flow: row wrap; }

/*# sourceMappingURL=style.css.map */
